<head>
{% extends parent_template|default:"base.html" %} 

{% load staticfiles%}
{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/> 
{% endblock %}

{% block img %}

<img src="{% static ' polls/images/Biden.png' %}" alt="Biden" style="width: 283px ; height: 321px";/>

<img src="{% static ' polls/images/Trump.png' %}" alt="Trump" style="width: 283px ; height: 321px";/>

<img src="{% static ' polls/images/breaker.png' %}" alt="breaker" style="width: 212px ; height: 321px";/>

<img src="{% static ' polls/images/2020.png' %}" alt="2020" style="width: 797px ; height: 302px";/>

{% block css %} 
</head>
<body>
<div> <header>
<h1>2020 US Election </h1> <p>{% block img %}
{% endblock %}</p>
</header>