{% load static %}
<table width="200" align="center">
  <tr>
    <th colspan="3" scope="col"><img src="{% static "polls/2020.png"  %}" alt="US 2020" width="797" height="302" /></th>
  </tr>
  <tr>
    <th colspan="3" scope="col"><h1>{{ question.question_text }}</h1></th>
  </tr>
  <tr>
    <td><img src="{% static "polls/Trump.png" %}" alt="Trump" width="283" height="321" /></td>
    <td><form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            <br />
            {% endfor %}
  <input name="submit" type="submit" value="Vote" />
        </form></td>
    <td><img src="{% static "polls/Biden.png" %}" alt="Biden" width="283" height="321" /></td>
  </tr>
  
</table>
<p>&nbsp;</p>
